.text-box {
    width: 35%;
    background-color: #d4a373;
    border-radius: 25px;
    text-align: center;
    margin: auto;
}
body {
    background-color: #faedcd;
}

.text-box:hover {
    width: 50%;
}